<h5 class="green"><%= @user.email %></h5>
<%= link_to t('user.add_info'), new_user_about_path(@user), class: "badge badge-primary" %>
<%= render @user.abouts %>


<h3 class="green"><%= t('user.create_company') %></h3>
<% @user_posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<%= button_to "Удалить аккаунт", user_path(@user), method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-primary', style:"margin: 20px 0 50px" %>
