<%= link_to "Изменение данных", edit_user_about_path(about.user, about), class: 'btn btn-outline-primary btn-sm' %>
<h1><%= about.name %></h1>
<h2><%= about.surname %></h2>
<h3><%= about.city %></h3>
<data><%= about.data %></data>
