<%= link_to t('user.change_info'), edit_user_about_path(about.user, about), class: "badge badge-secondary" %>
|
<%= link_to t('user.delete_info'), user_about_path(about.user, about), method: :delete, class: "badge badge-danger" %>
<h1 class="green"><%= about.name %></h1>
<h1 class="green"><%= about.surname %></h1>
<h5 class="green"><%= about.city %></h5>
<data class="green"><%= about.data %></data>
