<%= form_for([@user, @user.abouts.build]) do |f| %>
  <div class="form-group green">
    <%= f.label t('activerecord.attributes.user.name')%>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group green">
    <%= f.label t('activerecord.attributes.user.surname')%>
    <%= f.text_field :surname, class: 'form-control' %>
  </div>
  <div class="form-group green">
    <%= f.label t('activerecord.attributes.user.city') %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group green">
    <%= f.label t('activerecord.attributes.user.data') %>
    <%= f.date_field :data, class: 'form-control' %>
  </div>
  <%= f.submit t('common.create'),class: 'btn btn-primary' %>
<% end %>