<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <div class="average-review-rating" data-score="<%= average_reviews(post) %>"></div>
    <small>
      <time class="green"><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if post.category.present? %>
        |
        <%= link_to post.category.name, post.category,class:"badge badge-info" %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
      |
      <%= link_to t('company.change'), edit_admin_post_path(post),class:"badge badge-secondary" %>
      |
      <%= link_to t('company.delete'), admin_post_path(post), method: :delete, data: {confirm: 'Вы уверены?'},class:"badge badge-danger" %>
      <% end %>
    </small>
  </section>
  <section class="post-summary clearfix">
    <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <% your_variable = (post.current_donate / post.desired_donate) * 100 %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= your_variable %>%;"><%= your_variable.round(2) %>%</div>
    </div>
    <div class="green" ><%= post.summary  %></div>
  </section>

  <section class="footer-summary">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary'}.join(' ') %>
  </section>
</article>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>

