<%= render 'shared/breadcrumb', category: @post.category %>
<article class="post">
  <section class="post-head">
    <h1 class="green"><%= @post.title %></h1>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span class="green">Based on <%= @post.reviews.count %> reviews</span>
    <small>
      <time class="green"><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if @post.category.present? %>
        |
        <%= link_to @post.category.name, @post.category %>
      <% end %>
      <% if user_signed_in? %>
        |
        <%= link_to 'Изменить', edit_admin_post_path(@post) %>
        |
        <%= link_to ' Удалить', admin_post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'} %>
        |
        <%= link_to "Добавить новость", new_post_news_path(@post) %>
      <% end %>
    </small>
  </section>
  <section class="post-body">
    <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <%= @post.body.html_safe %>
  </section>
  <section>
    <% if @post.url.present? %>
      <iframe width="560" height="315" src="<%= @post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
  </section>
</article>
<%= render @post.reviews %>
<div>
  <%= link_to "Добавить рейтинг", new_post_review_path(@post) %>
</div>
<div class="green">Все коментарии</div>
<% @post.comments.each do |comment| %>
  <div class='alert alert-light'>
    <p><strong><%= comment.username %></strong>: <%= comment.body %>
    </p><%= link_to ' Удалить', [comment.post, comment], method: :delete %>
    <% pre_like = comment.likes.find { |like| like.user_id == current_user.id } %>
    <% if pre_like %>
      <%= button_to 'Unlike', comment_like_path(comment, pre_like), method: :delete, class:"btn btn-outline-secondary" %>
    <% else %>
      <%= button_to 'Like', comment_likes_path(comment), method: :post, class:"btn btn-outline-info" %>
    <% end %>
  </div>
<% end %>
<hr>
<% if user_signed_in? %>
  <div class="green"> Добавить коментарий</div>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :username, value: current_user.email %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Добавить", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
<h1 class="green">News</h1>
<%= render @post.news %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>


<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
