<%= render 'shared/breadcrumb', category: @post.category %>
<article class="post">
  <section class="post-head">
    <h1 class="green"><%= @post.title %></h1>
    <h3 class="green"><%= t('company.pledge') %>:</h3>
    <h4><%= @post.current_donate %>$/<%= @post.desired_donate %>$</h4>
    <time class="green"><%= t('company.expiration_date') %>:</time>
    <span><%= @post.date %></span>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span class="green">Based on <%= @post.reviews.count %> reviews</span>
    <small>
      <time class="green"><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if @post.category.present? %>
        |
        <%= link_to @post.category.name, @post.category, class: "badge badge-info" %>
      <% end %>
      <% if user_signed_in? && @post.user.id == current_user.id %>
        |
        <%= link_to t('company.change'), edit_admin_post_path(@post), class: "badge badge-secondary" %>
        |
        <%= link_to t('company.delete'), admin_post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'}, class: "badge badge-danger" %>
        |
        <%= link_to t('company.add_news'), new_post_news_path(@post), class: "badge badge-primary" %>
      <% end %>
    </small>
  </section>
  <div>
    <%= link_to t('company.reviews'), new_post_review_path(@post), class: "badge badge-success" %>
  </div>
  <section class="post-body">
    <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <div class="green"><%= @post.body.html_safe %></div>
  </section>
  <section>
    <% if @post.url.present? %>
      <iframe width="560" height="315" src="<%= @post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
  </section>
</article>
<%= render @post.reviews %>
<div class="green"><%= t('company.all_comments') %></div>
<% @post.comments.each do |comment| %>
  <div class='alert alert-light'>
    <p><strong><%= comment.username %></strong>: <%= comment.body %>
      <% if user_signed_in? %>
        </p><%= link_to t('company.delete_comment'), [comment.post, comment], method: :delete %>
        <% pre_like = comment.likes.find { |like| like.user_id == current_user.id } %>
        <% if pre_like %>
          <%= button_to 'Unlike', comment_like_path(comment, pre_like), method: :delete, class: "btn btn-outline-secondary" %>
        <% else %>
          <%= button_to 'Like', comment_likes_path(comment), method: :post, class: "btn btn-outline-info" %>
        <% end %>
      <% end %>
      </div>
<% end %>
<hr>
<% if user_signed_in? %>
  <div class="green"><%= t('company.add_comment') %></div>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :username, value: current_user.email %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit t('company.add'), class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
<% if @post.news.present? %>
  <h1 class="green"><%= t('company.news') %></h1>
  <%= render @post.news %>
<% end %>
<% if user_signed_in? %>
  <div class="button">
    <%= button_to t('company.pay'), "#{@post.id}/donate", method: :get, class: 'btn btn-primary', style:"margin: 20px 0 50px"%>
  </div>
<% end %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>


<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
