<%= render 'shared/breadcrumb', category: @post.category %>
<article class="post">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span>Based on <%= @post.reviews.count %> reviews</span>
    <small>
      <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if @post.category.present? %>
        |
        <%= link_to @post.category.name, @post.category %>
      <% end %>
      <% if user_signed_in? %>
        |
        <%= link_to 'Изменить', edit_admin_post_path(@post) %>
        |
        <%= link_to ' Удалить', admin_post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'} %>
      <% end %>
    </small>
  </section>
  <section class="post-body">
    <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <%= @post.body.html_safe %>
  </section>
  <section>
    <% if @post.url.present? %>
      <iframe width="560" height="315" src="<%= @post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
  </section>
</article>
<%= render @post.reviews %>
<div>
  <%= link_to "Add Review", new_post_review_path(@post) %>
</div>
<div>Все коментарии</div>
<% @post.comments.each do |comment| %>
  <div class='alert alert-light'>
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
  </div>
<% end %>
<hr>
<% if user_signed_in? %>
  <div> Добавить коментарий</div>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :username, value: current_user.email %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Добавить", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>


<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
